<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<h2>Product List</h2>

<ul>
    <th:block th:each="item : ${items}">
        <li>
            <span th:text="${item.name}"></span>
            (<span th:text="${item.price}"></span> USD)
            ::
            [<a th:href="@{|/cart/add/${item.id}|}">Add To Cart</a>]
        </li>
    </th:block>
</ul>

<a href="/cart/view">View Cart</a>

</body>
</html>
