<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Đăng nhập</h2>

<form action="/account/login" method="post">
    <label>Username:</label>
    <input name="username"><br><br>

    <label>Password:</label>
    <input type="password" name="password"><br><br>

    <label>Remember me</label>
    <input type="checkbox" name="remember" value="true"><br><br>

    <button type="submit">Login</button>
</form>

</body>
</html>
