<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Account</title>
</head>
<body>
<h2>Register Account</h2>

<form th:action="@{/account/register}" method="post" enctype="multipart/form-data">
    <label>Username:</label><br>
    <input type="text" name="username" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <label>Photo:</label><br>
    <input type="file" name="photo" accept="image/*"><br><br>

    <button type="submit">Register</button>
</form>

</body>
</html>
