<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lab7</title>
</head>
<body>
<form action="/product/search" method="post">
    <input name="min" th:value="${param.min}" placeholder="Min Price?">
    <button>Search</button>
</form>
<table border="1" style="width:100%">
    <tr>
        <th><a href="/product/sort?field=id">Id</a></th>
        <th><a href="/product/sort?field=name">Name</a></th>
        <th><a href="/product/sort?field=price">Price</a></th>
        <th><a href="/product/sort?field=createDate">Date</a></th>
    </tr>
    <th:block th:each="item: ${items}">
        <tr>
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.createDate}"></td>
        </tr>
    </th:block>
</table>

</body>
</html>